#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*{
  background-color: black;
  color: white;
}
.container-title{
  margin-bottom: 20px;
}
.square{
  width: 100px;
  height: 100px;
  padding: 10px 20px;
  font-size: 20px;
}