
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}
.container-title{
  padding: 20px 0px;
  font-size: 30px;
}
.game-board{
  display: flex;
  flex-direction: column;
}
.square {
  cursor: pointer;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}
.status{
  font-size: 20px;
  padding-bottom: 10%;
}
